@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes fade-in-down {
   from {
     opacity: 0;
     transform: translateY(-20px);
   }
   to {
     opacity: 1;
     transform: translateY(0);
   }
 }
 
 @keyframes slide-up {
   from {
     opacity: 0;
     transform: translateY(20px);
   }
   to {
     opacity: 1;
     transform: translateY(0);
   }
 }
 
 @keyframes fade-in {
   from {
     opacity: 0;
   }
   to {
     opacity: 1;
   }
 }
 
 .animate-fade-in-down {
   animation: fade-in-down 0.5s ease-out forwards;
 }
 
 .animate-slide-up {
   animation: slide-up 0.5s ease-out forwards;
 }
 
 .animate-fade-in {
   animation: fade-in 0.5s ease-out forwards;
   opacity: 0;
   animation-fill-mode: forwards;
 }

 .scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer/Edge */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.smooth-scroll {
  scroll-behavior: smooth;
}
@layer base {
  img, svg, video, canvas, audio, iframe, embed, object {
    display: inline-block;
    vertical-align: middle;
  }
}

